<h2 class="text"><b>Hola Admin! Estos son nuestros usuarios registrados</b></h2> <br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Alias</th>
        <th scope="col">Edad</th>
        <th scope="col">Direccion</th>
        <th scope="col">Correo Electronico</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuario" class="table-dark">
        <td>{{item.nombreUsuario}}</td>
        <td>{{item.apellidoUsuario}}</td>
        <td>{{item.nickNameUsuario}}</td>
        <td>{{item.edadUsuario}}</td>
        <td>{{item.direccionUsiario}}</td>
        <td>{{item.emailUsuario}}</td>
      </tr>
     
    </tbody>
  </table>

  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-info">Agregar</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-info">Eliminar</button>
    </div>
</div>
