<h2 class="text"><b>Hola Admin! Estos son nuestros usuarios registrados</b></h2> <br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Indice</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">E-mail</th>
        <th scope="col">direccion</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark">
        <td>1</td>
        <td>Carlos</td>
        <td>Beltran</td>
        <td>elcarlin2020@gmail.com</td>
        <td>Col. San MeQuieroGrduar</td>
        <td>0</td>
      </tr>
     
    </tbody>
  </table>

  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-info">Agregar</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-info">Eliminar</button>
    </div>
</div>
