<body>
        <app-nav-usuario></app-nav-usuario>
        <section class="pt-5 social center" style="margin-top:50px;" id="regUsuarioSection">
        <div class="container">
            <div class="card" style="width: absolute;">
                <div class="card-header">
                    <h3>¡Registrate y se parte de este comercio!</h3>
                  </div>
                <div class="card-body">
                  <h5 class="card-title">Rellena los campos para tu registro.</h5>
                  <hr>
                    <form [formGroup]="Formulario">
                        <label>Nombre: </label>
                        <input type="text" class="form-control" formControlName="nombreUsuario" name="nombreUsuario" placeholder="Escribe aqui">
                        <label>Apellido: </label>
                        <input type="text" class="form-control" formControlName="apellidoUsuario" name="apellidoUsuario"placeholder="Escribe aqui">
                        <label>Escribe tu usuario: </label>
                        <input type="text" class="form-control" formControlName="nickNameUsuario" name="nickNameUsuario"placeholder="Escribe aqui">
                        <label>Edad: </label>
                        <input type="text" class="form-control" formControlName="edadUsuario" name="edadUsuario"placeholder="Escribe aqui">
                        <label>Direccion: </label>
                        <input type="text" class="form-control" formControlName="direccionUsiario" name="direccionUsiario"placeholder="Escribe aqui">
                        <label>Correo Elctronico: </label>
                        <input type="text" class="form-control" formControlName="emailUsuario" name="emailUsuario"placeholder="Escribe aqui">
                        <label>Contraseña: </label>
                        <input type="password" class="form-control" password formControlName="password" name="password"placeholder="Escribe aqui"><br>
                    </form>
                    <button type="button" (click)="enviar()"  class="btn btn-block rounded-0 py- text-white" style="background: #4D9DC1; ">Registrar</button>
                </div>
              </div>
        </div>
    </section>
</body>