<h2 class="text"><b>Hola Empresa! Tus paginas web!</b></h2> <br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Indice</th>
        <th scope="col">Plantilla</th>
        <th scope="col">Color principl</th>
        <th scope="col">Color Secundario</th>
        <th scope="col">Color Navbar</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark">
        <td>1</td>
        <td>plantilla 1</td>
        <td>Azul</td>
        <td>Blanco</td>
        <td>Info</td>
      </tr>
     
    </tbody>
  </table>

  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-info">Agregar</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-info">Eliminar</button>
    </div>
</div>
