<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <app-nav-landing></app-nav-landing>
    <!--Seccion del banner-->
    <section id="hero">
        <div class="container-fluid">
            <div class="content-left" style="padding-top: 300px;">
                <h1>YEFFCODE SHOP</h1>
                <p>Eleva tus comercios de informática por todo el país!! registrate ya!</p>
                <!--<a href="App/" class="btn btn-light topmargin-sm">Registrarme<ion-icon></ion-icon></a>-->
            </div>
        </div>
    </section>
    <!--Seccion quienes somos-->
    <section class="porfolio" id="mvinfo">
        <div class="container-fluid">
            <div class="content-center">
                <p>La tecnología es lo que nos impulsa a ser mejor que lo mejor!</p>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="content-center">
                        <h2>MISION</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Veritatis ex, sunt dolorem corporis libero quaerat iste animi exercitationem eaque atque
                            possimus eligendi excepturi, voluptatibus architecto laboriosam magni ullam mollitia at.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-center">
                        <h2>VISION</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Veritatis ex, sunt dolorem corporis libero quaerat iste animi exercitationem eaque atque
                            possimus eligendi excepturi, voluptatibus architecto laboriosam magni ullam mollitia at.</p>
                    </div>
                </div>
            </div>
            <div class="text-center topmargin-sm">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis culpa explicabo et temporibus
                    deleniti quas obcaecati voluptatibus officia voluptatem iste ab maxime corrupti optio eos tempora
                    magni, cumque dolorum! Nihil accusamus maxime nam ratione incidunt quos omnis atque voluptas
                    voluptates!.</p>
            </div>
            <hr>
        </div>
    </section>
    <!--Seccion Contacto con administracion-->
    <section id="testimonial" class="bg-light-grey topmargin-sm">
        <hr>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="jumbotron" style="background: #4E4F58;">
                    <h1 class="display-4" style="color: #ffffff;">Yeffcode | Contenido digital </h1>
                    <p class="lead">
                    <p></p>
                    <hr class="my-4">
                    <p style="color: #ffffff;">Contacto y seguimiento</p>
                    <a class="btn btn-danger btn-lg btn-block"
                        href="https://www.youtube.com/yeffcode?sub_confirmation=1" role="button"><svg width="1em"
                            height="1em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                        </svg>YouTube</a>
                    <a class="btn btn-primary btn-lg btn-block" href="https://www.facebook.com/Yeffcode-108706190933779"
                        role="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                        </svg>Facebook</a>
                    <a class="btn btn-info btn-lg btn-block" href="https://twitter.com/yeffcode" role="button"><svg
                            width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                        </svg> Twitter</a>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
