<body>
    <!--Inicio del Nav-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <!--Nombre Nav principal-->

            <h3><b>EMPRESA</b></h3>
            <h4>usuario</h4>
            <!--Boton desplegable responsive-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><svg width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                    </svg></span>
            </button>
            <!--Atajos a secciones-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#iniciopp" id="ini">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#quienes" id="quien">¿Quienes somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servicios" id="serv">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto" id="conts">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Final del Nav-->

    <!--Seccion del banner-->
    <section id="iniciopp">
        <div class="container-fluid">
            <div class="content-center" style="padding-top: 25%; @media (max-width: 500px) { padding-top: 90%; }">
                <h1 style="color: black;">TU EMPRESA</h1>
                <p style="color: black; ">Ladescripcion de tus productos y servicios iran aqui!!!!!</p>
                <!--<a href="App/" class="btn btn-light topmargin-sm">Registrarme<ion-icon></ion-icon></a>-->
            </div>
        </div>
    </section>

    <section id="quienes">
        <div class="container-fluid"></div>
    </section>
    <section id="servicios">
        <div class="container-fluid"></div>
    </section>
    <section id="contacto">
        <div class="container-fluid"></div>
    </section>
</body>