<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav list-unstyled components mb-5">
                <li class="">
                    <h3>Nombre Empresa</h3>
                </li>
                <li class="">
                    <a [routerLink]="['/dashboardAdmin/plantillas']"routerLinkActive="active"><span class="fa fa-home mr-3"></span>Plantillas webSites</a>
                </li>
                <li class="">
                    <a [routerLink]="['/dashboardAdmin/usuarios']" routerLinkActive="active"><span class="fa fa-home mr-3"></span>Usuarios</a>
                </li>
                <li class="">
                    <a  [routerLink]="['/dashboardAdmin/roles']"routerLinkActive="active"><span class="fa fa-home mr-3"></span>Roles de usuariosb</a>
                </li>
                <li class="">
                    <a  routerLinkActive="active"><span class="fa fa-home mr-3"></span>Cerrar sesion</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
