<h2 class="text"><b>Hola Amin! Mira los roles de usuario existntes</b></h2> <br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre rol</th>
        <th scope="col">Descripcion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rol" class="table-dark">
        <td>{{item.rol}}</td>
        <td>{{item.descripcion}}</td>
        <td><button type="button" (click)="eliminarRol(item._id)" class="btn btn-danger btn-xs">Eliminar</button></td>

      </tr>
     
    </tbody>
  </table>

  <div class="row">
    <div class="col-8">
      <div class="row m-5">
        <div class="col-8">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rolesModal">
            Agregar Rol de usurio
          </button>  
        </div>
      </div>    
    </div>
</div>



<div class="modal fade" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agrgar un nuevo rol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <label for="exampleInputEmail1">Rol</label>
            <input [(ngModel)]="roles.rol" type="text" class="form-control"
              placeholder="TYPE HERE">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Descripciondel Rol</label>
            <input [(ngModel)]="roles.descripcion" type="text" class="form-control" placeholder="TYPE HERE">
          </div>
          
          <button type="button" (click)="agregarRol()" class="btn btn-primary">Agregar Rol</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 